{% extends 'sparklabs/base.html' %}
{% load static %}
{% block title %} Homepage {% endblock %}
<!-- Home Section Design -->
{% block content %}
<section class="home" id="home">
  <div class="home-content">
    <h3>Ready to spark your next project?</h3>
    <h1>Sparkline Labs</h1>
    <h3>Specializes in <span class="multiple-text"></span></h3>
    <p>
      Spark your startup's potential, or ignite your existing business online. Sparkline Labs offers cutting-edge tech solutions and lasting support to fuel your online presence and drive long-term success. Let's Chat!
    </p>
    <div class="social-media">
      <a href="https://www.facebook.com/sparkline.labs"<i class='bx bxl-facebook-circle'></i></a>
      <!-- <a href="#"><i class='bx bxl-instagram-alt' ></i></a> -->
      <a href="https://github.com/mbachalabro"><i class='bx bxl-github' ></i></a>
      <!-- <a href="#"><i class='bx bxl-linkedin-square' ></i></a> -->
    </div>
    <a href="/portfolio/" class="btn">Visit Projects</a>
  </div>

  <div class="home-img">
    <img src="{% static 'sparklabs/images/sparklinelabs.webp' %}" alt="" />
  </div>
</section>
{% endblock %} 