{% extends 'sparklabs/base.html' %}
{% load static %}
{% block title %} Portfolio {% endblock %}
<!-- Home Section Design -->
{% block content %}

<!-- Portfolio Section Design -->
<section class="portfolio" id="portfolio">
    <h2 class="heading">Latest <span>Projects</span></h2>
  
    <div class="portfolio-container">
      {% for p in pr %}
      <div class="portfolio-box">
        <img
          class="project-img"
          src="/{{p.project_image}}"
          alt=""
        />
        <div class="portfolio-layer">
          <h4>{{p.project_title}}</h4>
          <p>
            {{p.project_desc}}
          </p>
          <a href="{{p.project_link}}"
            ><i class='bx bx-link-external'></i></a>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>    
{% endblock %}
