{% extends 'sparklabs/base.html' %}
{% load static %}
{% block title %} Portfolio {% endblock %}
{% block content %}

<section class="portfolio" id="portfolio">
    <h2 class="heading">Latest <span>Projects</span></h2>
  
    <div class="portfolio-container">
      <div class="portfolio-box">
        <img
          class="project-img"
          src="{% static 'projects/images/carawears.webp' %}"
          alt=""
        />
        <div class="portfolio-layer">
          <h4>CaraWears</h4>
          <p>
            CaraWears is wearing brand website made with html, css, js and django   
          </p>
          <a href="https://carawears.vercel.app/"
            ><i class='bx bx-link-external'></i></a>
        </div>
      </div>

        <div class="portfolio-box">
        <img
          class="project-img"
          src="{% static 'projects/images/sparklinestore.webp' %}"
          alt="Sparkline Store Image"
        />
        <div class="portfolio-layer">
          <h4>Sparkline Store</h4>
          <p>
            Sparkline Store is tech gadgets website made with html, css and js   
          </p>
          <a href="https://sparkline-store.vercel.app/"
            ><i class='bx bx-link-external'></i></a>
        </div>
      </div>
    </div>
  </section>    
{% endblock %}
